.btn {
 border-radius: var(--radius-sm);
 padding: var(--space-8) var(--space-16);
 cursor: pointer;
 transition: all 0.2s ease-in-out;
 font-weight: 600;
 border: none;
 display: flex;
 align-items: center;
 justify-content: center;
 height: var(--space-40);
 min-width: 6rem;
}
.btn:hover {
 filter: brightness(1.1);
}
.btn--primary {
 background-color: var(--color-success);
 color: var(--color-white);
 border: 1px solid transparent;
}

.btn--secondary {
 border: 1px solid var(--color-border);
 background-color: var(--color-bg-primary);
 color: var(--color-text-primary);
}
.btn--secondary:hover {
 border: transparent;
 background-color: var(--color-success);
 color: var(--color-white);
}
.btn--delete{
  color: var(--color-white);
  background: var(--color-danger);
}

.btn span {
 display: none;
}
@media (min-width: 576px) {
 .btn span {
  display: inline-block;
 }
}
/*
 




.btn_danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.btn:disabled {
  opacity: .3;
  cursor: not-allowed;
}

.btn_icon_only {
  padding: var(--space-xs);
  background: transparent;
}

.btn_modal {
  margin-top: 1.2rem;
}

.btn_small {
  padding: var(--space-sm);
}

.btn i {
  font-weight: 700;
}

.btn:disabled {
  opacity: .5;
  cursor: not-allowed;
} */
