.btn {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  color: var(--color-white);
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn_primary {
  background-color: var(--color-accent);
  color: var(--color-bg-primary);
}

.btn_secondary {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.btn_danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}

.btn:disabled {
  opacity: .3;
  cursor: not-allowed;
}

.btn_icon_only {
  padding: var(--space-xs);
  background: transparent;
}

.btn_modal {
  margin-top: 1.2rem;
}

.btn_small {
  padding: var(--space-sm);
}

.btn i {
  font-weight: 700;
}

.btn:disabled {
  opacity: .5;
  cursor: not-allowed;
}