.btn {
 padding: var(--space-8);
 cursor: pointer;
 font-weight: 500;
 border-radius: var(--radius-sm);
 transition: all 0.2s ease-in-out;
 background: transparent;
 color: inherit;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30px;
 border: 1px solid var(--color-border);
}
.btn:hover {
 filter: brightness(1.1);
}
.btn--primary {
 color: var(--color-white);
 background: var(--color-success);
 border: 1px solid transparent;
}

.btn--secondary {
 background-color: var(--color-bg-primary);
 color: var(--color-text-primary);
}

.btn--delete {
 color: var(--color-danger);
 background: var(--color-danger);
}
.btn:disabled {
 opacity: 0.5;
 cursor: not-allowed;
}
.btn span {
 display: none;
}

@media (min-width: 576px) {
 .btn span {
  display: inline-block;
 }
}
@media (min-width: 768px) {
 .btn {
  height: var(--space-40);
  min-width: var(--space-48);
 }
}

/*
 
.btn_danger {
  background-color: var(--color-danger);
  color: var(--color-white);
}


.btn_icon_only {
  padding: var(--space-xs);
  background: transparent;
}

.btn_modal {
  margin-top: 1.2rem;
}

.btn_small {
  padding: var(--space-sm);
}

.btn i {
  font-weight: 700;
}

.btn:disabled {
  opacity: .3;
  cursor: not-allowed;
}

  */
