.circle {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 4rem;
 height: 4rem;
 border-radius: var(--radius-full);
}
.circle__border {
 border: 1px solid var(--color-border);
}
.circle i {
 font-size: var(--font-base);
 font-weight: 600;
}
