.modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal--active {
  display: block;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__content {
  position: fixed;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  width: calc(100vw);
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  z-index: 1001;
  padding: var(--space-md);
  animation: fadeIn 0.3s ease-out;
}

.modal__content h2 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);

}

.modal__content label {
  font-size: 14px;
  font-weight: 600;
  margin-top: var(--space-md);
  margin-bottom: var(--space-xxs);
  display: block;
}

.modal__content input[type="text"] {
  width: 100%;
  font-size: 14px;
  border-radius: var(--radius-sm);
  transition: all .2s;
  padding: var(--space-xs);
  border: 1px solid var(--color-border);
}

.modal__content input[type="text"]:focus {
  border-color: var(--color-border);
}

.modal__content input[type="text"].error {
  outline: 2px solid var(--color-danger);
  outline-offset: 0;
  margin-bottom: 0;
}

.modal__content__close {
  position: absolute;
  right: var(--space-sm);
  top: var(--space-xs);
  cursor: pointer;
  font-size: 2.4rem;
  background: transparent;
  border: none;
}

.modal__content__close:hover {
  color: var(--color-danger);
}
.modal_footer{
  text-align: end;
}
/* Animação de aparecimento */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .modal__content {
    position: relative;
    width: calc(100vw - 30%);
    margin: 7rem auto;
    border: 1px solid var(--color-border);

    border-radius: var(--radius-md);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 30rem;

  }
}

@media (min-width: 1024px) {
  .modal__content {
    padding: var(--space-md);
  }
}