.toggleTheme {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggleTheme input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggleTheme label {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  cursor: pointer;
  height: 100%;
}