:root {
 --color-bg-primary: #eceff1;
 --color-bg-secondary: #ffffff;
 --color-text-primary: #121212;
 --color-text-secondary: #4d4d4d;
 --color-border: #c0c6cc;
 --color-border-hover: #aab4be;
 --color-white: #fff;
 --color-success-ligth: rgba(27, 199, 90, 0.5);
 --color-success: #1bc75a;
 --color-info: #3398db;
 --color-danger: #e34f53;
 --color-bg-danger: #dc3545;
 --color-favorite: #f97316;
}

body.dark_mode {
 --color-bg-primary: #121212;
 --color-bg-secondary: #1c1c1c;
 --color-text-primary: #e0e0e0;
 --color-text-secondary: #b0b0b0;
 --color-border: #333333;
 --color-border-hover: #444444;
}
