@import url('../templates/layout.css');

#main .viewport_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 3.6rem;
}

#wrapper_lists .empty {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  align-items: center;
  justify-content: center;
}

#wrapper_lists .empty .icon {
  font-size: 5.6rem;
  color: inherit;
}

#wrapper_lists .empty h1 {
  color: var(--red-dark);
  font-size: 2.4rem;
  font-weight: bold;
}

#wrapper_lists .empty p,
#wrapper_lists .empty p strong {
  text-align: center;
  font-weight: 500;
}

#wrapper_lists .empty p strong {
  text-align: center;
  font-weight: 700;
}

.boxImage {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.boxImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 1024px) {
  #wrapper_lists .empty {
    gap: var(--space-lg);
  }

  #wrapper_lists .empty h1 {
    font-size: 3.2rem;
  }

  #wrapper_lists .empty p,
  #wrapper_lists .empty p strong {
    font-size: 1.8rem;
  }
}