#navbar__left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#navbar__left a {
  font-size: 2rem;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_nav .nav_item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#stats {
  margin-top: var(--space-xxs);
  display: grid;
  grid-template-columns: repeat(3, minmax(clamp(150px, 45vw, 230px), 1fr));
  gap: 1rem;
  margin-top: var(--space-xs);
}

.stat__box {
  border: 1px solid var(--color-border);
  background: var(--color-bg-secondary);
  border-radius: var(--radius-xm);
  flex: 1;
  border-radius: var(--radius-sm);
  padding: var(--space-sm);
}

.stat__box header {
  text-wrap: nowrap;
  box-shadow: none;
  color: var(--color-text-secondary);
  margin-bottom: var(--radius-xs);
}

.stat__box footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.stat__box .circle {
  background: var(--color-border);
  border: 1px solid var(--color-border);
}

.stat__box:nth-child(2) footer strong {
  color: var(--color-accent);
}

.stat__box:nth-child(3) footer strong {
  color: var(--color-info);
}

.stat__box:nth-child(2) .circle {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.stat__box:nth-child(3) .circle {
  background-color: var(--color-info);
  color: var(--color-white);
}

#wrapperItem {
  margin-top: var(--space-md);
}

#wrapperItem.empty {
  display: flex;
  align-items: center;
  min-width: 100%;
}

@media (max-width: 768px) {
  .navbar__actions_buttons span {
    display: none;
  }

  #stats {
    overflow: scroll;
    overflow: auto;
    scrollbar-width: none;
    behavior: 'smooth';
    gap: 1.2rem;
  }
}