.container {
  padding: var(--space-lg);
  margin: 0px auto;
  margin-top: 30px;
  width: 100%;
  max-width: 40rem;
  border-radius: var(--radius-md);
  background: var(--gray2);
  color: var(--gray7);
}
.container__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.container__intput_area {
  gap: var(--space-sm);
  flex-direction: column;
}
#list_input {
  padding: var(--space-sm);
  border-radius: var(--radius-sm);
  border: 1px solid var(--gray1);
  flex: 1;
  width: 100%;
}
.wrapper_list {
  margin-top: var(--space-lg);
}
.wrapper_list__title:first-child {
  margin-bottom: var(--space-md);
}
.wrapper_list__title:not(:first-child) {
  margin: var(--space-md) 0;
}
.wrapper_list__daily_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
  border: 1px solid var(--gray4);
  border-radius: var(--radius-xs);
  margin-bottom: var(--space-md);
}
.wrapper_list__daily_list li span {
  max-width: 30rem;
  /* ajuste conforme o layout */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper_list__daily_list li.done span {
  text-decoration: line-through;
  color: #aaa;
}
.remove-btn {
  background: none;
  border: none;
  color: #d00;
  font-size: 16px;
  cursor: pointer;
}
.flex {
  display: flex;
}

@media (min-width: 1024px) {
  .container {
    max-width: 60rem;
  }
  .container__intput_area {
    gap: var(--space-sm);
    flex-direction: row;
  }
}