@import url('../components/button.css');
@import url('../components/navbar.css');
@import url('../components/toggleTheme.css');
@import url('../components/icon.css');
@import url('../components/dropdown.css');
@import url('../components/line.css');
@import url('../components/modal.css');
@import url('../components/circle.css');
@import url('../components/card.css');
@import url('../components/loading.css');
@import url('./header.css');

.flex {
  display: flex;
}

.flex_columns {
  flex-direction: column;
}

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.error {
  color: var(--color-danger);
  font-size: 14px;
  padding: .4rem;
  display: block;
}

.hidden {
  visibility: hidden;
}

.viewport_box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

main.space_to_header {
  margin: 8rem auto;

}

.scroll_ghost {
  min-height: calc(100vh - 30vh);
  max-height: calc(100vh - 30vh);
  width: 100%;
  height: 100%;
  margin-top: var(--space-xxs);
  overflow: auto;
  scrollbar-width: none;
}

.text-elipse {
  font-size: 1.6rem;
  max-width: 50%;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: var(--space-xs);
}

body.dark_mode .boxImage img {
  filter: invert(0.9);
}

.form-row {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  margin: 0;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
}

.pagesContainer {
  background: var(--color-bg-primary);
  padding: var(--space-xl);
}

.pagesContainer h2,
.pagesContainer h3 {
  margin: 2rem 0;
}

.pagesContainer p {
  margin-top: .8rem;
  text-align: justify;
}