@import url("../components/button.css");
@import url("../components/navbar.css");
@import url("../components/card.css");
@import url("../components/circle.css");
@import url("../components/modal.css");
@import url("../components/loading.css");
@import url("../components/toggleTheme.css");
@import url("../pages/listdetail.css");

.layout-base {
 display: grid;
 grid-template-rows: auto 1fr auto;
 min-height: 100vh;
}

.limit-viewport {
 padding: 1rem;
}

.error {
 color: var(--color-danger);
 font-size: 14px;
 padding: 0.4rem;
 display: block;
}

.hidden {
 visibility: hidden;
}

.scroll_ghost {
 min-height: calc(100vh - 30vh);
 max-height: calc(100vh - 30vh);
 width: 100%;
 height: 100%;
 margin-top: var(--space-xxs);
 overflow: auto;
 scrollbar-width: none;
}

.text-elipse {
 font-size: 1.6rem;
 max-width: 50%;
 white-space: normal;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
 margin-left: var(--space-xs);
}

.nav_item .btn {
 font-size: var(--space-16);
}

.nav_item .btn:hover {
 color: var(--color-success);
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 i {
  font-size: var(--space-20);
 }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .limit-viewport {
  padding: var(--space-16);
  max-width: 1400px;
  margin: 0 auto;
 }
}

/*

@import url('../components/icon.css');
@import url('../components/dropdown.css');
@import url('../components/line.css');
@import url('../components/modal.css');
@import url('../components/circle.css');
@import url('../components/card.css');
@import url('../components/loading.css');
@import url('./header.css');

.flex {
  display: flex;
}

.flex_columns {
  flex-direction: column;
}

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


body.dark_mode .boxImage img {
  filter: invert(0.9);
}

.form-row {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.form-row .form-group {
  flex: 1;
  margin: 0;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
} */
